VITE_OIDC_AUTHORITY=http://localhost:8080/realms/open-photos
VITE_OIDC_CLIENT_ID=open-photos-client
VITE_OIDC_REDIRECT_URI=http://localhost:5173/callback
VITE_OIDC_POST_LOGOUT_REDIRECT_URI=http://localhost:5173
VITE_OIDC_SCOPE=openid profile email
