MONGODB_URI=mongodb://127.0.0.1:27017/open-photos
HOST=0.0.0.0
PORT=3000
OIDC_ISSUER=http://localhost:8080/realms/open-photos
OIDC_AUDIENCE=account,open-photos-client
OIDC_JWKS_URI=http://localhost:8080/realms/open-photos/protocol/openid-connect/certs
